
/* elements in navbar */
#high-score-button{
    color: white;
}

#high-score-list {
    color: white;
    margin-bottom: 5px;

}

/* applied image to body */
#backgroundImg{
    background-image: url(../images/oldManHittingBong.jpg);
}

/* above the element that shows questions */
#starterBlock{
    height: 100px;
    background-color: #AE804F;
}

button{
    color: aliceblue;
}

#correctnessBlock{
    background-color: #AE804F;
    height: 100px;
    font-size: 50px;
    
}

.spacer{
    height: 35px;
}

/* inside the element that displays questions and answers */
#the-card{
    background-color: aliceblue;
    height: 25rem;
    padding-top: 25px;
    overflow: scroll;
}

#the-card-text{
    height: 15rem;
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.answerBtn{
    color: white;
    margin-bottom: 20px;
    display: block;
    width: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;


}