#the-card-text{
    height: 30rem;
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-style: solid;
    border-width: 50px;
    border: yellow;
}

#the-card{
    background-color: aliceblue;
    overflow: scroll;
}

#backgroundImg{
    background-image: url(../images/oldManHittingBong.jpg);
}

.spacer{
    height: 35px;
}

button{
    color: aliceblue;
}

#starterBlock{
    height: 100px;
    background-color: #AE804F;
}

.answerBtn{
    color: white;
    margin-bottom: 20px;
    display: block;
    width: 25%;
    padding-top: 20px;
    padding-bottom: 20px;


}